/* Cofig padrões */

.margin_20px {
    margin-top: 20px;
}


/* Header */

#BtnPesquisar {
    margin-right: 10px;
}

.fundo_nav {
    background: #3cab87  /* #598979 #393E46 */;
}

.navbar-brand {
    padding: 0px;
}

.texto_da_caixa_de_entrada {
    margin-left: 20px;
}

.opcoes_menu {
    margin-right: 60px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

ul li a.opcoes_menu {
    color: white;
    line-height: 25px;
    text-decoration: none;
    position: relative;
}

ul li a.opcoes_menu:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0px;
    height: 3px;
    background: white;
    transition: 0.5s;
}

ul li a.opcoes_menu:hover:before {
    width: 100%;
}

.dropdown-item-lab{
    background: white;
}

.btn-outline-light:hover {
    background: #3cab87;
}

#DropDownEscolherPesquisaLab {
    background: #3cab87 ;
}

#DropDownEscolherPesquisaLab a:hover {
    background: #598979;
}


/* index.html */

#AulaDoDia {}


/* Pag de laboraórios */

#Turnos {
    margin-top: 20px;
    margin-bottom: 20px;
}


.manha {
    width: 100px;
    background: #4ECCA3;
}

.tarde {
    width: 100px;
    margin-left: 15px;
    background: #4ECCA3;
}

.noite {
    width: 100px;
    margin-left: 15px;
    background: #4ECCA3;
}

.espacamento_turnos {
    margin-top: 20px;
}


/* Pág pesquisa por um lab */

#NavLab {
    width: 100%;
    background: #4ECCA3;
    text-transform: uppercase;
}

#OpcoesLabs {
    background: #4ECCA3;
}


/* Pág de cursos */

#BtnCursos {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #4ECCA3;
    width: 100%;
}

#BtnCursos button:hover {
    background: #598979;
}

.espacamento_titulos_cursos {
    padding: 10px;
}

.titulos_cursos {
    font-family: 'Inter', sans-serif;
}

.dados_cursos {
    font-family: 'Inter', sans-serif;
}




/* Cadastro bolsistas */

/* Style inputs, select elements and textareas */
input[type=text],input[type=password],input[type=email], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.linha{
    margin: 25px 0px 5px 0px;
    border-top: 3px solid #4ECCA3;
}
/* Style the submit button */
input[type=submit] {
    width: 100%;
    margin-top: 30px;
  background-color: #4ECCA3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive cadastro de bolsistas */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 10px;
  }
}

/* Responsive cadastro de professores */
@media (min-width: 320px){
  .col{
    width: 100%;
    margin-top: 10px;
  }
}



/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    /* header */
    #BtnPesquisar {
        margin-top: 10px;
        margin-right: 0px;
    }
    .caixa_de_entrada1 {
        width: 200px;
        margin-left: 7px;
    }
    .caixa_de_entrada2 {
        margin-top: 7px;
        width: 200px;
    }
    .botao1 {
        margin-left: 210px;
    }
    /* Pag de laboraórios */
    #Turnos {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .manha {
        width: 75px;
    }
    .tarde {
        width: 75px;
    }
    .noite {
        width: 75px;
    }
    /* Foto Logo */
    #ImgLogo {
        width: 215px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /* header */
    .caixa_de_entrada1 {
        margin-left: 7px;
        margin-bottom: 5px;
    }
    .botao1 {
        margin-top: 30px;
    }
    /* Foto Logo */
    #ImgLogo {
        width: 290px;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    /* header */
    .caixa_de_entrada1 {}
    .botao1 {}
    /* Foto Logo */
    #ImgLogo {
        width: 400px;
    }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .botao1 {
        margin-left: 10px;
    }
    .margin-rigth {
        margin-left: 170px;
    }
}